@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 247, 250;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 20, 15;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-glass;
  }

  .glass-card {
    @apply bg-glass-gradient dark:bg-dark-glass-gradient backdrop-blur-lg border border-white/10 dark:border-white/5 shadow-glass rounded-xl;
  }

  .premium-image-filter {
    filter: sepia(10%) hue-rotate(190deg) saturate(90%) contrast(105%);
  }

  .text-balance {
    text-wrap: balance;
  }
}
